
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .container {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        header {
            background-color: #dddfe2;
            color: #fff;
            text-align: left;
            box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1);
            padding: 5px 5px 5px;
        }

        .main {
            flex-grow: 1;
            display: flex;
        }

        .left, .right {
            width: 150px;
            background-color: #193c6f;
            padding: 12px;
        }

        .left {
            order: -1; /* Push to the left */
            color:#fff;
        }

        .maincontent {
            flex-grow: 1;
            padding: 10px;
        }

        /*.bottom {
            background-color: #555;
            color: #fff;
            padding: 10px;
            text-align: center;
        }*/

        header .topleft img{
            height: 55px;
            width: 250px;
        }
        /*.section {
            width: 100%;
            padding: 20px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }*/
       .cs{
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 30px;
            text-decoration: underline ;
            color:#193c6f;
        }
        .box {
            background-color: #dddfe2; /* Background color of the box */
            padding: 20px; /* Add padding to create some space between the content and the edges of the box */
            border-radius: 10px; /* Border radius to create soft edges */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    /* You can adjust the shadow color and spread radius as needed */
        }
        .sub_title{
            color:#193c6f;
            font-family: sans-serif;
        }
        .same{
            font-size: 15px;
            padding: 10px;
            width: 50%;
            color: #000;
        }

        .name{
            display: flex;
            gap: 10px;
            margin: 15px 0;
            font-size: 15px;
        }
        form input{
            flex: 1;
            border: 1px solid #dddfe2;
            font-size: 17px;
            padding: 14px 16px;
            border-radius: 5px;
            color: #1d2129;
            outline-color: #8AB7EF;
        }
        .type select{
            flex: 1;
            padding: 14px 16px;
            font-size: 15px;
            cursor: pointer;
            border: 1px solid #dddfe2;
            border-radius: 5px;
            color: grey;
            outline-color: #8AB7EF;
        }
        .content{
            flex: 1;
            border: 1px solid #dddfe2;
            font-size: 17px;
            padding: 14px 16px;
            border-radius: 5px;
            color: #1d2129;
            outline-color: #8AB7EF;
            font-family: sans-serif;
        }
        .label{
            flex: 1;
            padding: 14px 16px;
            cursor: pointer;
            border: 1px solid #dddfe2;
            border-radius: 5px;
            font-family: sans-serif;
            font-weight: bold;
            display: block;
            margin: 5px;

        }
        .submit{
            background-color: #79c437;
            font-size: 20px;
            color: #fff;
            line-height: 48px;
            padding: 0 16px;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            font-weight: bold;
            letter-spacing: 0.2px;
            width: 20%;
            transform: translateX(50%);
            

        }
        .logout{
            background-color: #79c437;
            font-size: 15px;
            color: #fff;
            line-height: 20px;
            padding: 0 16px;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            font-weight: bold;
            letter-spacing: 0.2px;
            width: 100%;
        }
        .ship, .trans{
            height: 20px;
            width: 20px;
            padding-top: 10px;

        }

        .shipment{
            background-color: #193c6f;
            font-size: 20px;
            color: #fff;
            line-height: 20px;
            border: 2px solid #79c437; 
            border-radius: 6px;
            font-weight: bold;
            letter-spacing: 0.2px;
            width: 100%;
            align-items: center;
            flex-direction: column;
            padding-bottom: 10px;
        }
        .transactions{
          background-color: #193c6f;
            font-size: 20px;
            color: #fff;
            line-height: 20px;
            padding: 0 16px;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            font-weight: bold;
            letter-spacing: 0.2px;
            width: 100%;
            align-items: center;
            flex-direction: column;
            padding-bottom: 10px;
        }
       

        .shipment, .transactions{
            display: block; /* Ensure each button is on a new line */
            margin-bottom: 10px; /* Adjust the vertical spacing between buttons */
        }
        a {
   text-decoration: none; /* Remove underline */
   color: inherit; /* Inherit text color from parent */
   /* Add any other styling as needed */
}

/* General Table Styling */
#data-table {
    margin-top: 50px; 
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Space below the table */
  }
  
  /* Table Header Styling */
  #data-table thead {
    background-color: #193c6f;
    color: #fff;
    font-family: sans-serif;
    margin-top: 100px; 
  }
  
  #data-table th {

    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #fff; /* White border for header cells */
  }
  
  /* Table Data Styling */
  #data-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Light grey border for data cells */
    text-align: left;
    font-family: sans-serif;
  }
  
  /* Hover Effects for Rows 
  #data-table tr:hover {
    background-color: #f5f5f5;
  }*/
  
  /* Responsive Table Styling 
  @media screen and (max-width: 600px) {
    #data-table {
      display: block;
      overflow-x: auto;
    }
  }*/
  
  /* Action Button Styling 
  .submit {
    background-color: #79c437;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; // Space above the button
    text-align: center;
  }*/
  
  /* Additional Styling for Different Sections */
  .logout, .shipment, .transactions {
    background-color: #193c6f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 10px 0; /* Margin for vertical spacing */
    text-decoration: none; /* Remove underline from links */
  }
  
  .logout:hover, .shipment:hover, .transactions:hover {
    background-color: #1565c0; /* Change color on hover */
  }
  
  /* Input Field Styling 
  input[type="text"], select, textarea {
    width: 90%; //Adjust width as needed 
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/
  
  .ret{
    background-color: #79c437;
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 0.2px;
    width: 20%;
    transform: translateX(25%);
  }

  .flex{
        flex: 1;
        border: 1px solid #dddfe2;
        font-size: 17px;
        padding: 14px 16px;
        border-radius: 5px;
        color: #1d2129;
        outline-color: #8AB7EF;
  }

  .del{
    background-color: #79c437;
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 0.2px;
    width: 20%;
    transform: translateX(150%);
  }

  .save{
    background-color: #79c437;
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 0.2px;
    width: 20%;
    transform: translateX(150%);
  }


 